<div class="zoom2">
<%= render partial: "layouts/errors", locals: { object: template } %>
<%= form_for template do |f| %>
  <p>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :src %>
    <%= f.text_field :src %>
  </p>
  <p>
    <%= f.label :iframe %>
    <%= f.text_field :iframe %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>
  <p><%= f.submit %></p>
<% end %>

</div>
