<div class="template">
  <h2><%= show_nickname(template) %></h2>
  <%= show_address(template) %>
  <p><%= appointment_count(template) %></p>
  <p><%= template_value(template) %></p>
  <%# <p><%= edit_delete_links(template) %></p>
</div>
