<style media="screen">
  img {
    height: 90px;
    width: auto;
  }
</style>


<div class="zoom">
<% if @templates.any? %>
<div class="row">
  <div class="col-sm-5 hidden-xs">
    <h3>Nickname</h3>
  </div>
  <div class="col-sm-4 hidden-xs">
    <h3>Address</h3>
  </div>
  <div class="col-sm-3 hidden-xs">
    <h3>Appointments</h3>
  </div>
</div>
<% else %>
<p>No templates yet.</p>
<% end %>
<div class="templates">
  <% @templates.each do |template| %>
  <div class="template row">
    <div class="col-sm-4">
      <p class="name"><%= link_to template.nickname, template_path(template) %></p>
    </div>
    <div class="col-sm-5">
      <a href="<%= template.iframe %>">
      <img src="<%= template.src %>" alt="">
    </a>
    </div>
    <div class="col-sm-3">
      <p><%= template_value(template) %></p>
      <p><%= link_to "HIRE ME!", new_template_appointment_path(template), class: "btn btn-primary" %></p>
    </div>
  </div>
  <% end %>
</div>

</div>
