<section class="no-padding" id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Some Of My Work</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
    <div class="container-fluid">
        <div class="row ai">
            <div class="col-lg-4 col-sm-6">
                <a href="http://travelfever.herokuapp.com/" class="portfolio-box">
                    <%= image_tag "Travelfever.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Project
                            </div>
                            <div class="project-name">
                                Travelfever
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.govlia.com/" class="portfolio-box">
                  <%= image_tag "Govlia.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              https://www.govlia.com/
                            </div>
                            <div class="project-name">
                                Govlia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://offeroff.herokuapp.com/" class="portfolio-box">
                    <%= image_tag "Offerme.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Project
                            </div>
                            <div class="project-name">
                              Offerme
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://photoscape.herokuapp.com/" class="portfolio-box">
                    <%= image_tag "fotoscape.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project
                            </div>
                            <div class="project-name">
                              Photoscape
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://kalilw.herokuapp.com/" class="portfolio-box">
                    <%= image_tag "Portfolio.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Project
                            </div>
                            <div class="project-name">
                              Portfolio
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/kalil1" class="portfolio-box">
                    <%= image_tag "github.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              GitHub
                            </div>
                            <div class="project-name">
                              Kalil1
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
