<!DOCTYPE html>
<html>
<head>
  <title>KWBooking</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

  <%= render "layouts/navbar2" %>

  <%= content_tag(:div, flash[:error], id: "flash_error", class: "container") if flash[:error] %>
  <%= content_tag(:div, flash[:notice], id: "flash_notice", class: "container") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], id: "flash_alert", class: "container") if flash[:alert] %>

  <div class="main container">
    <%= yield %>
  </div>

</body>
<script type="text/javascript">
	 $('.datepicker').datepicker({
    	 weekStart:1,
    	 color: 'red'
	 });
	</script>
<script src="respond.min.js"></script>
</html>
